---
import { request } from "@acdh-oeaw/lib";
import type { GetStaticPathsResult } from "astro";

import ImageOverlay from "@/components/image-overlay.astro";
import Section from "@/components/section.astro";
import { locales } from "@/config/i18n.config";
import { createImprintUrl } from "@/config/imprint.config";
import Layout from "@/layouts/page.layout.astro";
import { createI18n } from "@/lib/i18n/create-i18n";

export async function getStaticPaths() {
	return locales.map((locale) => {
		return { params: { locale } };
	}) satisfies GetStaticPathsResult;
}

const { locale } = Astro.params;

const { t } = await createI18n(locale);

const title = t("common.imprint");
const image = { caption: "", src: null };
const content = await request(createImprintUrl(locale), { responseType: "text" });
---

<Layout locale={locale} title={title}>
	<main class="mb-2xl">
		<section class:list={[image?.src && "border-b border-neutral-200"]} class="relative">
			{
				image?.src ? (
					<figure>
						<img
							alt=""
							class="absolute inset-0 size-full object-cover"
							loading="eager"
							src={image.src}
						/>
						{image.caption ? (
							<figcaption class="absolute bottom-1.5 right-2 z-10 text-xs font-medium text-neutral-300">
								{image.caption}
							</figcaption>
						) : null}
						<ImageOverlay />
					</figure>
				) : null
			}
			<div
				class:list={[image?.src ? "text-white" : "border-b border-neutral-200"]}
				class="container relative py-2xl"
			>
				<div class="grid gap-y-sm">
					<h1 class="text-display lowercase">{title}.</h1>
				</div>
			</div>
		</section>

		<Section>
			<div class="container prose py-xl" set:html={content} />
		</Section>
	</main>
</Layout>
