---
import type { GetStaticPathsResult } from "astro";
import { compareDesc } from "date-fns";

import Card from "@/components/card.astro";
import GridList from "@/components/grid-list.astro";
import ImageOverlay from "@/components/image-overlay.astro";
import Section from "@/components/section.astro";
import SectionLead from "@/components/section-lead.astro";
import SectionTitle from "@/components/section-title.astro";
import { locales } from "@/config/i18n.config";
import Layout from "@/layouts/page.layout.astro";
import { createCollectionResource, createSingletonResource } from "@/lib/content/create-resource";
import { getFormatter } from "@/lib/formatter";
import { createI18n } from "@/lib/i18n/create-i18n";

export async function getStaticPaths() {
	return locales.map((locale) => {
		return { params: { locale } };
	}) satisfies GetStaticPathsResult;
}

const { locale } = Astro.params;

const { t } = await createI18n(locale);

const page = await createSingletonResource("indexPage", locale).read();

const { hero, content, sections } = page.data;

const { default: Content } = await page.compile(content);

const formatter = getFormatter(locale);
---

<Layout locale={locale} title={hero.title}>
	<main class="mb-2xl">
		<section class:list={[hero.image?.src && "border-b border-neutral-200"]} class="relative">
			{
				hero.image?.src ? (
					<figure>
						<img
							alt=""
							class="absolute inset-0 size-full object-cover"
							loading="eager"
							src={hero.image.src}
						/>
						<ImageOverlay />
						{hero.image.caption ? (
							<figcaption class="absolute bottom-2 right-2 z-10 text-xs font-medium">
								{hero.image.caption}
							</figcaption>
						) : null}
					</figure>
				) : null
			}
			<div
				class:list={[hero.image?.src ? "text-white" : "border-b border-neutral-200"]}
				class="container relative z-10 py-2xl"
			>
				<div class="grid justify-start justify-items-start gap-y-xs py-2xl sm:gap-y-0">
					<!-- <h1 class="text-display lowercase text-text-strong">{hero.title}</h1> -->
					<!-- <p class="text-heading-2 text-text-weak">{hero.subtitle}</p> -->
					<h1
						class="relative inline-block text-5xl font-bold lowercase tracking-tighter before:absolute xs:text-6xl sm:text-7xl md:text-8xl"
					>
						{hero.title}.
					</h1>
					<p
						class:list={[hero.image?.src ? "text-white" : "text-text-weak"]}
						class="relative inline-block text-2xl font-semibold tracking-tight sm:ml-12 md:ml-16 md:text-3xl"
					>
						{hero.subtitle}
					</p>
					{hero.lead ? <div class="text-lead text-text-weak">{hero.lead}</div> : null}
				</div>
			</div>
		</section>
		<Section>
			<div class="container prose py-xl">
				{
					content ? (
						<Content />
					) : (
						<p class="flex justify-center py-xl text-center text-sm text-text-weak">
							{t("common.coming-soon")}
						</p>
					)
				}
			</div>
		</Section>

		{
			sections.map(async (section) => {
				switch (section.discriminant) {
					case "data": {
						const { collections, count, lead, title } = section.value;

						const entries = (
							await Promise.all(
								collections.map((collection) => {
									console.log(collection, locale);
									return createCollectionResource(collection, locale).all();
								}),
							)
						)
							.flat()
							.filter((entry) => {
								switch (section.value.filter) {
									case "all": {
										return true;
									}
									case "future": {
										return new Date(entry.data.date).getTime() > Date.now();
									}
									case "past": {
										return new Date(entry.data.date).getTime() < Date.now();
									}
								}
							})
							.sort((a, z) => {
								return compareDesc(a.data.date, z.data.date);
							})
							.slice(0, count);

						return (
							<Section>
								<div class="container grid content-start gap-y-md border-b py-xl">
									<SectionTitle>{title}</SectionTitle>
									<SectionLead>{lead}</SectionLead>
									{entries.length > 0 ? (
										<GridList>
											{entries.map((entry) => {
												const { collection, data, id } = entry;

												const { date, image, location, title } = data;

												const href = `/${collection}/${id}`;

												return (
													<li>
														<Card href={href} image={image} title={title}>
															<dl class="grid content-start gap-y-xs text-text-weak">
																<div class="leading-snug">
																	<dt class="text-uppercase uppercase">{t("common.date")}</dt>
																	<dd class="font-medium">
																		{formatter.date.format(new Date(date))}
																	</dd>
																</div>
																<div class="leading-snug">
																	<dt class="text-uppercase uppercase">{t("common.location")}</dt>
																	<dd class="font-medium">{location}</dd>
																</div>
															</dl>
														</Card>
													</li>
												);
											})}
										</GridList>
									) : (
										<p class="flex justify-center py-xl text-center text-sm text-text-weak">
											{t("common.coming-soon")}
										</p>
									)}
								</div>
							</Section>
						);
					}

					case "links": {
						const { lead, links, title } = section.value;

						const pages = createCollectionResource("pages", locale);

						return (
							<Section>
								<div class="container grid content-start gap-y-md border-b py-xl">
									<SectionTitle>{title}</SectionTitle>
									<SectionLead>{lead}</SectionLead>
									{links.length > 0 ? (
										<GridList>
											{links.map(async (link) => {
												switch (link.discriminant) {
													case "page": {
														const { id, title } = link.value;

														const page = await pages.read(id);

														const { image, summary } = page.data;

														const href = `/${id}`;

														return (
															<li>
																<Card href={href} image={image} title={title}>
																	<div>{summary}</div>
																</Card>
															</li>
														);
													}
												}
											})}
										</GridList>
									) : (
										<p class="flex justify-center py-xl text-center text-sm text-text-weak">
											{t("common.coming-soon")}
										</p>
									)}
								</div>
							</Section>
						);
					}

					case "text": {
						const { content, lead, title } = section.value;

						const { default: Content } = await page.compile(content);

						return (
							<Section>
								<div class="container grid content-start gap-y-md border-b py-xl">
									<SectionTitle>{title}</SectionTitle>
									<SectionLead>{lead}</SectionLead>
									<div class="prose text-text-weak">
										<Content />
									</div>
								</div>
							</Section>
						);
					}
				}
			})
		}
	</main>
</Layout>
