---
import TextInputField from "@/components/form/text-input-field.astro";
---

<form action="/api/registration" class="grid gap-y-6" data-astro-reload method="post">
	<TextInputField label="First Name" name="first-name" required={true} />

	<TextInputField label="Last Name" name="last-name" required={true} />

	<TextInputField label="Email" name="email" required={true} type="email" />

	<TextInputField label="Affiliation (University/Institute)" name="affiliation" required={true} />

	<label class="text-sm">
		<input class="mr-0.5" name="data-consent" required={true} type="checkbox" />
		<span>
			I expressly acknowledge the storage of my registration details for the duration of the
			conference in line with the <a href="/en/privacy-declaration/">privacy declaration.</a>
		</span>
	</label>

	<button
		class="rounded-md bg-[#212529] px-4 py-2 font-semibold text-white transition hover:bg-neutral-700"
		type="submit"
	>
		Register
	</button>
</form>
